* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.1rem;
}

body {
    background-color: black;

    main {
        width: 90%;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .header {
            text-align: center;

            .title {
                font-size: 2rem;
            }

            .text {
                font-size: 20px;
            }
        }

        .main_content {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .content {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .p {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    border-bottom: 1px solid white;
                    border-radius: 5px;
                    background-color: rgb(31, 30, 30);
                    padding: 10px;

                    .title {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}